<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="schedule_fragment">

    <div th:if="${schedules == null or schedules.isEmpty()}">
        <p>No schedules found for this room.</p>
    </div>

    <div th:if="${schedules != null and not schedules.isEmpty()}">
        <h4>Schedules for this Room:</h4>
        <ul class="list-group">
            <li class="list-group-item" th:each="schedule : ${schedules}">
                <span th:text="${schedule.movie.movieName}"></span> -
                <span th:text="${#temporals.format(schedule.startTime, 'HH:mm')}"></span>
                <span th:text="${#temporals.format(schedule.endTime, 'HH:mm')}"></span>
            </li>
        </ul>
    </div>

</div>

</body>
</html>