<div class="replies-movie-detail" th:fragment="feedback-comment">
    <input type="hidden"
           th:value="${movieFeedbacks.get(feedback.getId()).getContent().size()}"
           class="currentNumOfComment">
    <input type="hidden" th:value="${feedback.getId()}" class="feedbackId">
    <div th:each="comment : ${movieFeedbacks.get(feedback.getId()).content}"
         class="comment-item-movie-detail">
        <div class="comment-avatar"><i class="fas fa-user"></i></div>
        <div class="comment-content-movie-detail">
            <div class="comment-meta-movie-detail">
                <span class="comment-author-movie-detail" th:text="${comment.authorName}"></span>
                <span class="reply-indicator-movie-detail">answered</span>
                <span class="comment-author-movie-detail" th:text="${comment.repliedToName}"></span>
                <span class="comment-time-movie-detail"  th:text="'at ' + ${#temporals.format(comment.createdDate, 'dd/MM/yyyy HH:mm')}"></span>
            </div>
            <p class="comment-text-movie-detail" th:text="${comment.content}">
            </p>
            <div class="comment-actions-movie-detail" th:if="${session.customer != null}">
                <a href="#" class="reply-btn-movie-detail" th:data-author-id="${comment.authorCustomerId}">Reply</a>
            </div>
        </div>
    </div>
    <button class="load-more-replies-movie-detail"
            th:style="${feedback.totalComments - movieFeedbacks.get(feedback.getId()).content.size() < 1} ? 'display: none' : ''"
            th:text="'View ' + ${feedback.totalComments - movieFeedbacks.get(feedback.getId()).content.size()}  + ' more answer' + (${feedback.totalComments > 1} ? 's' : '')"
            >
    </button>
</div>