<div class="container feedback-area" th:fragment="feedback-area">
    <h1 class="page-title" style="margin-top: 60px;">Featured Comments</h1>
    <div class="grid">
        <!-- Card 1 -->
        <div class="card" th:each="movie : ${feedbacks.keySet()}">
            <div class="card-image">
                <img th:src="@{${movie.image}}">
                <div class="card-overlay">
                    <div class="card-title" th:text="${movie.movieName}"></div>
                    <div class="rating-stats">
                        <div class="rating">
                            <span class="rating-badge" th:text="${movie.movieRate}"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-content">
                <div class="comment" th:each="comment : ${feedbacks.get(movie)}">
                    <div class="comment-header">
                        <div class="avatar"><i class="fa fa-user"></i></div>
                        <div class="comment-info">
                            <div class="username" th:text="${comment.customerName}"></div>
                            <div class="timestamp" th:text="${#dates.format(comment.createdDate, 'dd/MM/yyyy HH:mm')}"></div>
                        </div>

                    </div>
                    <div class="comment-text" th:text="${comment.content}">
                    </div>
                    <a href="#" class="read-more">Read more</a>
                </div>
            </div>
        </div>
    </div>
    <div class="load-more-container" th:style="${currentNumberOfFeedback == maximumFeedback} ? 'display: none' : ''">
        <input type="hidden" th:value="${maximumFeedback}" id="maximumFeedback">
        <input type="hidden" th:value="${currentNumberOfFeedback}" id="currentNumberOfFeedback">
        <input type="hidden" th:value="${feedbackPage}" id="feedbackPage">

        <button class="load-more-btn" id="load-feedback">Load More</button>
    </div>
</div>