<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="availablerRooms">
  <div th:if="${not #lists.isEmpty(availableRooms)}">
    <label class="form-label">Available Rooms:</label>
    <div class="room-cards-wrapper">
      <div th:each="room : ${availableRooms}" class="room-card">
        <input type="radio"
               name="selectedRoomIdsUpdate"
               class="room-checkbox"
               th:id="|room_${room.roomID}|"
               th:value="${room.roomID}"
               th:checked="${room.roomID == selectedRoomId}"
        >
        <label th:for="|room_${room.roomID}|" class="room-label">
          <span th:text="${room.name}">Room Name</span>
        </label>
      </div>
    </div>
  </div>

  <div th:if="${#lists.isEmpty(availableRooms)}">
    <p class="no-rooms-message" th:text="${message}"></p>
  </div>

</div>
</body>
</html>